# Python
*.py[cod]
*.so
*.dylib
__pycache__/
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg


# Virtual environment
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/
envs/
.venvs/


# Django
*.log
*.sqlite3
db.sqlite3
*.pyc
__pycache__/

# Python egg files
*.egg
*.egg-info
dist/
build/
.eggs/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Ignore all migration files
**/migrations/*.py
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/__init__.py
**/migrations/*.json


# OS files
.DS_Store      # macOS
Thumbs.db      # Windows

# Backup files
*.bak
*.swp
*.swo

# Environment variable files
*.env
*.env.*
.venv/
.envrc
*.envrc
*.env.example


# Jupyter Notebook Checkpoints
.ipynb_checkpoints
*.ipynb_checkpoints

# Pytest cache
.pytest_cache/
__pycache__/
*.cover
*.coverage

# Static files
static/
media/
staticfiles/
staticfiles.json
staticfiles.json.gz


# Other
*.log
*.pot
*.po
*.mo
*.pot~

